.berita-button-scale {
    background: linear-gradient(360deg, #326CFF 10%, #59FFB9 );
}

.font-beritaTitle{
    font-family: Montserrat;
    font-size:xx-large;
    font-weight:bolder;
    color: black;
}

.font-berita-taps{
    font-family: Montserrat;
    font-weight: 500;
    color: white;
}

.berita-backgrround{
    background: linear-gradient(24deg, #326CFF 10%, #59FFB9 );
}

.btn-beritaButton {
    background-color: #FFC73C;
    color: white;
    border: 3px #FFC73C;
    box-shadow: 0 0 10px #FFC73C;
}

.btn-beritaButton:hover {
    background-color: rgb(251, 155, 37);
    color: white;
    border: 3px rgb(251, 155, 37);
    box-shadow: 0 0 10px rgb(251, 155, 37);
}

.font-berita-button{
    font-family: Montserrat;
    font-size:medium;
    font-weight: bold;
}

.bg-beritaContainer{
    background:rgba(255, 255, 255, 0);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    border: none;
}

.bg-beritaContainer:hover{
    background:rgba(255, 255, 255, 0);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    animation: aboutAnimation 0.3s linear forwards;
  }

.image-transition{
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.image-transition:hover{
    transform: scale(1.05); 
}

.bg-beritaContainer:hover .image-transition{
    transform: scale(1.05);
}


.image-scale{
    scale: 1.05;
}

.btn-beritaLink {
    background:rgba(255, 255, 255, 0);
    color: black;
    text-align: left;
}

.btn-beritaLink:hover{
    background:rgba(255, 255, 255, 0);
    color: #FFC73C;
    text-align: left;
}

.bg-beritaContainer:hover .btn-beritaLink{
    background:rgba(255, 255, 255, 0);
    color: #FFC73C;
    text-align: left;
}

.font-cardBerita{
    font-family:Montserrat;
    font-weight: bold;
    font-size: medium;
}

.bg-beritaTaps {
    background:rgba(255, 255, 255, 0);
    color: white;
}

.bg-beritaTaps:hover {
    background:rgba(255, 255, 255, 0.7);
    border-radius: 32;
    color: white;
    border: 10px rgb(255, 255, 255);
}

.bg-beritaTaps .nav-link .nav-item .active {
    background:rgba(255, 255, 255, 0.7);
    border-radius: 32;
    color: white;
    border: 10px rgb(255, 255, 255);
}

@keyframes aboutAnimation {
    from {
      transform: scale(100%);
    }
    to {
      transform: scale(101%);
    }
  }