.btn-register {
    background:linear-gradient(60deg, #326CFF 20%, #59FFB9);
    border: none;
    color: white;
}

.btn-register:hover {
    background: linear-gradient(270deg, #326CFF 10%, #59FFB9) scroll;
    color:azure;
    animation: registerAnimation 0.3s linear forwards; /* Adjust the animation duration as needed */
}

.font-header{
  font-family: Montserrat;
  font-size:medium;
  font-weight:700;
}

@keyframes registerAnimation {
    from {
      transform: scale(100%);
    }
    to {
      transform: scale(102%);
    }
  }